# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/

# Flask
instance/
.env

# IDE/Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Miscellaneous
*.swp
.DS_Store